html{
    box-sizing: border-box; 
    /* to prevent horizontal scroll when we add padding,and prevent adding extra width or extra height */
}
body{
    margin: 0;
    min-height: 100vh;
    /* to make contenyts take full screen height even if they are smaller than the full height */
    
}